*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    width: 100%;
    font-family: 'Signika', sans-serif;
}
html{
    height: -webkit-fill-available;
}
section{
    padding-block: min(20vh, 10rem);
}
.titledecor{
    overflow: hidden;
    text-align: center;
}
.titledecor::before,
.titledecor::after{
    background-color: rgb(85, 85, 85);
    content: "";
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    width: 12%;
    position: relative;
    
}
.titledecor::before{
    right: 0.5em;
    margin-left: -50%;
}
.titledecor::after{
    left: 0.5em;
    margin-right: -50%;
}

.navigation{
    display: inline-flex;
}
.navbar{
    list-style-type: none;
    width: 100%;
    background-color: #C0C0C0;
    height: 100%;
    position: relative;
}
#logo-container{
    width: 150px;
    height: 100px;
    background-color: transparent;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav ul li{
    width: auto;
    margin-left: 50px;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    justify-content: space-between;
}
nav ul li a:hover{
   transition: all .1s ease-out; 
   color: #4C1C86;
   cursor: pointer;
}
.slideshow{
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: transparent;
    animation: animate 30s ease-in-out infinite;
    background-size: cover;
    padding: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){
    div.slideshow{
        display: none;
    }
    div.navbar{
        display: none;
    }
}
.slideshowdetails{
    position: relative;
    text-align: center;
    margin-top: 200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style-type: none;
    width: 50%;
    height: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    margin-left: 50%;
    font-size: 28px;
    font-weight: 600;
}
.slideshowtitle{
    overflow: wrap;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
}
.slideshowbuttonbox{
    margin-top: 5px;
}
.slideshowbutton{
    text-decoration: none;
    padding: 18px 25px;
    border: solid 1px black;
    background-color: #4C1C86;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}
.slideshowbutton:hover{
    background-color: white;
    color: #4C1C86;
    transition: ease-in 0.21s;
    border: none;

}
@keyframes animate{
    0%, 100% {
        background-image: url(/Slideshow/Laptopgaming.jpg);
    }
    25% {
        background-image: url(/Slideshow/Laptopfamily.jpg);
    }
    50% {
        background-image: url(/Slideshow/Laptopoffice.jpg);
    }
    75% {
        background-image: url(/Slideshow/Laptoprepair.jpg);
    }
}
.about{
    position: relative;
    min-height: 480px;
    width: 100%;
    margin-top: 50px;
}
.about-us-title{
    position: absolute;
    text-align: center;
}
#about-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.about-section{
    position: relative;
    width: 400px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
.about-undertitle{
    position: relative;
    text-align: center;
}
.about-pic{
    height: 85px;
    width: 85px;
}
@media (max-width: 768px){
    #about-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        align-items: center;
    }
    .about-container{
        position: relative;
        width: 300px;
        margin: 0px 50px 0px 50px;
        text-align: center;
    }
    .repairs-container1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .repairs-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}t
.repairs{
    position: relative;
    height: 100%;
    width: 100%;
}
.repairs-title{
    position: absolute;
    text-align: center;
    align-items: center;
}
.databackupimg{
    height: 50px;
    width: 50px;
}

.repairs-container1{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.repairdivbox{
    width: 300px;
    text-align: center;
    margin-top: 50px;
}

.repairs-container2{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}
.contact{
    position: relative;
    height: 600px;
}
.contact-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.contact-title{
    position: relative;
    text-align: center;
}
.contact-undertitle{
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.contact-form{
    position: relative;
    padding-top: 30px;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}
.inputtitles{
    font-size: 20px;
    font-weight: 600;

}
.input{
    width:500px;
    display: flex;
    height: 35px;
    font-size: 18px;
    border: 1px solid black;
    font-family: 'Signika', sans-serif;
}
@media (max-width: 768px) {
    .input{
        width:100%;
        display: flex;
        height: 35px;
        font-size: 18px;
    }
}
#submit-button{
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    align-items: center;
    margin-top: 5px;
}

#submit-button:hover{
    cursor: pointer;
    background-color: #C0C0C0;
    color: white;
    transition: ease-in 0.13s;
}
.footer{
    position: relative;
    height: 434px;
    background-color: #C0C0C0;
    width: 100%;
}
.footer-sec1{
    position: absolute;
    height: 100%;
    width: 50%;
    margin-left: 5%;

}
#footer-insta-logo{
    width: auto;
    height: 50px;
}
#footer-facebook-logo{
    width: 50px;

}
#footer-ebay-logo{
    width: 120px;
}
.footer-sec2{
    position: absolute;
    height: 100%;
    width: 20%;
    margin-left: 60%;
}
.footer-titles{
    position: relative;
    text-align: center;
    margin-top: 25px;
}
.footer-sec2-container{
    display: flex;
    flex-direction: column;
}
.second-section-container{
    margin-top: 10%;
    display: flex;
    width: 240px;
  } 
@media (max-width: 768px){

    div.footer-sec1{
        display: none;
    }
    div.footer-sec2{
        margin-left: 0%;
        width: 100%;
    }

}
