/*Standard template throughout the website*/
*{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  background-color: transparent;
  font-family: 'Nunito Sans', sans-serif;
}
.titledecor{
  overflow: hidden;
  text-align: center;
}
.titledecor::before,
.titledecor::after{
  background-color: rgb(85, 85, 85);
  content: "";
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 12%;
  position: relative;
  
}
.titledecor::before{
  right: 0.5em;
  margin-left: -50%;
}
.titledecor::after{
  left: 0.5em;
  margin-right: -50%;
}

@media (min-width: 0px) and (max-width: 768px){
  .page-container{
    position: relative;
    min-height: 100vh;
  }
  .wrapper{
    padding-bottom: 2.5rem;
    position: relative;
  }
  .navigation-bar{
    display: none;
    position: relative;
  }
  .navbar-mobile{
    position: relative;
    width: 100%;
    max-width: 768px;
    height: auto;
    overflow: hidden;
  }
  .navbar-mobile #navbar-links-mobile{
    display: none;
  }
  #navbar-logo-mobile{
    position: relative;
    height: auto;
    width: 180px;
    }
  .top-navbar-mobile{
    overflow: hidden;
    background-color: #C0C0C0;
    position: relative;
    padding: 4.5% 4%;
    font-size: 2.7vw;
  }
  .top-navbar-mobile a{
    color: #4C1C86;
    padding: 3% 3.5%;
    text-decoration: none;
    font-size: 150%;
    font-weight: 600;
    display: block;
  }
  .top-navbar-mobile a.icon {
    background: #C0C0C0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4.8%
  }
  .top-logo-mobile-navbar{
    position: relative;
    text-align: center;
    margin-top: 10%;
  }
  .top-navbar-mobile:hover{
    background-color: #C0C0C0;
    color: #2DBF2D;
  }
  #navbar-links-mobile{
    margin-top: 7%;
  }
  .active {
    background-color: #4C1C86;
    color: #2DBF2D;
  }
  /* End Of Navigation Bar */
  /* Home Section */
  .home-section{
    width: 100%;
    margin: auto;
    margin-top: 2vw;
    position: relative;
  }
  .home-section-title{
    text-align: center;
    font-size: 5.5vw;
  }
  .home-section-button-box{
    list-style: none;
  }
  .home-section-button{
    padding: 2vw 4.4vw;
    background-color: #4C1C86;
    white-space: nowrap;
    font-size: 3.5vw;
    text-align: center;
    text-decoration: none;
    border: solid 0.01vw black;
    border-radius: 4px;
    color: #FFFF;
  }
  .home-section-button:hover{
    transition: ease-in 0.21s;
    border-radius: 4px;
    color: #4C1C86;
    background-color: white;
  }
  .home-section-button-container{
    text-align: center;
    margin-top: 5vw;
  }
  /* End of Home Section */
  /* About Section */
  .about-section{
    margin: auto;
    position: relative;
  }
  #about-section-title{
    margin-top: 10vw;
    font-size: 6.5vw;
  }
  .about-section-first-paragraph{
    margin-top: 8vw;
  }
  .about-section-first-paragraph-title{
    text-align: center;
    font-size: 5vw;
  }
  .about-section-first-paragraph-text{
    text-align: center;
    inline-size: 90%;
    margin: auto;
    margin-top: 5vw;
    font-size: 4vw;
  }
  .about-section-second-paragraph{
    margin-top: 8vw;
  }
  .about-section-second-paragraph-title{
    text-align: center;
    font-size: 5vw;
  }
  .about-section-second-paragraph-text{
    font-size: 4vw;
    text-align: center;
    inline-size: 90%;
    margin: auto;
    margin-top: 5vw;
    font-size: 4vw;
  }
  .about-section-third-paragraph{
    margin-top: 8vw;
  }
  .about-section-third-paragraph-title{
    text-align: center;
    font-size: 5vw;
  }
  .about-section-third-paragraph-text{
    font-size: 4vw;
    text-align: center;
    inline-size: 90%;
    margin: auto;
    margin-top: 5vw;
    font-size: 4vw;
  }
  /* 2nd Section of About Section*/
  .about-section-desciption-containers{
    position: relative;
    margin: auto;
    width: 100%;
  }
  .about-section-description-container-logo{
    height: 20vw;
    width: auto;
    margin-top: 2vw;
  }
  .about-section-desciption-container-first{
    text-align: center;
  }
  .about-section-desciption-container-first-undertitle{
    font-size: 5vw;
  }
  .about-section-desciption-container-first-text{
    font-size: 4vw;
    text-align: center;
    inline-size: 90%;
    margin: auto;
  }
  .about-section-desciption-container-second{
    text-align: center;
  }
  .about-section-desciption-container-second-undertitle{
    font-size: 5vw;
  }
  .about-section-desciption-container-second-text{
    font-size: 4vw;
    text-align: center;
    inline-size: 90%;
    margin: auto;
  }
  .about-section-desciption-container-third{
    text-align: center;
  }
  .about-section-desciption-container-third-undertitle{
    font-size: 5vw;
  }
  .about-section-desciption-container-third-text{
    font-size: 4vw;
    text-align: center;
    inline-size: 90%;
    margin: auto;
  }
  .about-section-desciption-container-fourth{
    text-align: center;
  }
  .about-section-desciption-container-fourth-undertitle{
    font-size: 5vw;
  }
  .about-section-desciption-container-fourth-text{
    font-size: 4vw;
    text-align: center;
    inline-size: 90%;
    margin: auto;
  }
  .repairs-and-services-section{
    margin: auto;
    margin-top: 15vw;
  }
  #repairs-and-services-section-title{
    font-size: 6.5vw;
  }
  .repairs-and-services-about-section{
    text-align: center;
    margin-top: 10vw;
  }
  .repairs-and-services-about-section-undertitle{
    font-size: 6vw;
  }
  .repairs-and-services-about-section-paragraph{
    inline-size: 90%;
    overflow-wrap: break-word;
    margin: auto;
    margin-top: 4vw;
    font-size: 4vw;
  }
  .repairs-and-services-repair-containers{
    margin-bottom: 20vw;
  }
  .repairs-and-services-repair-containers-logo{
    width: 20vw;
    height: auto;
    margin: 0;
  }
  .repairs-and-services-repair-container-first{
    text-align: center;
    margin-top: 10vw;
  }
  .repairs-and-services-repair-undertitle{
    font-size: 5vw;
    text-align: center;
  }
  .repairs-and-services-repair-paragraph{
    font-size: 4vw;
    width: 90%;
    text-align: center;
    margin: auto;
  }
  .repairs-and-services-repair-container-second{
    text-align: center;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-container-third{
    text-align: center;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-container-fourth{
    text-align: center;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-container-fifth{
    text-align: center;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-container-sixth{
    text-align: center;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-container-seventh{
    text-align: center;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-container-eighth{
    text-align: center;
    margin-top: 8vw;
  }
  .footer-section{
    width: 100%;
    background-color: lightgray;
  }
  .footer-contact-details-section-image{
    height: 30vw;
    width: auto;
  }
  .footer-contact-details-section-header{
    font-size: 5vw;
  }
  .footer-contact-details-section-paragraph-list{
    list-style: none;
    margin-top: 5vw;
    font-size: 4vw;
  }
  .footer-contact-details-section-paragraph-list-subject{
    margin-left: 8vw;
  }
  .footer-follow-section-header{
    margin-top: 10vw;
    font-size: 5vw;
  }
  .footer-follow-section-paragraph{
    position: relative;
    margin-top: 5vw;
  }
  .footer-follow-section-paragraph-subject-image{
    height: 20vw;
    width: auto;
    margin: auto;
    margin-left: 5vw;
  }
  .footer-navigate-section{
    margin-top: 5vw;
    min-height: 80vw;
  }
  .footer-navigate-section-header{
    font-size: 5vw;
  }
  .footer-navigate-section-paragraph-list{
    list-style: none;
  }
  .footer-navigate-section-paragraph-subject{
    margin-top: 3vw;
  }
  .footer-navigate-section-paragraph-subject a{
    text-decoration: none;
    font-size: 4.5vw;
    margin-left: 5vw;
    font-size: 4vw;
  }
  .trustpilot-widget{
    position: relative;
    align-items: baseline;
  }
}

/* @media to cancel from the main css */
@media (min-width: 769px) and (max-width: 1024px){
  .top-navbar-mobile{
    display: none;
  }
  .top-logo-mobile-navbar{
    display: none;
  }
  .navbar-mobile{
    display: none;
  }
  #navbar-logo-mobile{
    display: none;
  }
  .top-navbar-mobile a{
    display: none;
  }
  .top-navbar-mobile a.icon {
    display: none;
  }
  .top-logo-mobile-navbar{
    display: none;
  }
  .top-navbar-mobile:hover{
    display: none;
  }
  #navbar-links-mobile{
    display: none;  
  }
  .active {
    display: none;
  }

  .page-container{
    position: relative;
    min-height: 100vh;
  }
  .wrapper{
    padding-bottom: 2.5rem;
  }
  .navigation-bar{
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    background-color: lightgray;
  }
  .navigation-bar-list-image{
    height: auto;
    width: 15vw;
  }
  .navigation-bar-list{
    list-style: none;
    display: flex;
    align-items: center;
    width: 90%;
  }
  .navigation-bar-list li{
    text-align: center;
  }
  .navigation-bar-list li a{
    text-decoration: none;
    font-size: 1.75vw;
    text-align: center;
  }
  .navigation-bar-list span li a{
    font-size: 18px;
    text-align: left;
  }
  .navigation-bar-list span li a:hover{
    font-size: 18px;
    text-align: left;
  }
  /* End Of Navigation Bar */
  /* Start of Home Section */
  .home-section{
    position: relative;
    height: 70vh;
    animation: animate 30s ease-in-out infinite;
    background-size: cover;
  }
  .home-section-background{
    position: absolute;
    padding: 21vh;
  }
  .home-section-title{
    position: relative;
    color: white;
    text-align: center;
    height: 100%;
    margin: auto;
    width: 90%;
    text-overflow: wrap;
    text-shadow: 3px 0px purple;
    text-shadow: 0px 4px #2DBF2D;
    font-size: 4vw;
  }
  
  @keyframes animate{
    0%, 100% {
        background-image: url(https://raw.githubusercontent.com/TheRepairDesk/TheRepairDesk/main/Pictures/Avif/laptopgaming.avif);
    }
    25% {
        background-image: url(https://raw.githubusercontent.com/TheRepairDesk/TheRepairDesk/main/Pictures/Avif/laptopfamily.avif);
    }
    50% {
        background-image: url(https://raw.githubusercontent.com/TheRepairDesk/TheRepairDesk/main/Pictures/Avif/laptopoffice.avif);
    }
    75% {
        background-image: url(https://raw.githubusercontent.com/TheRepairDesk/TheRepairDesk/main/Pictures/Avif/laptoprepair.avif);
    }
}
  .home-section-button-box{
    list-style: none;
  }
  .home-section-button{
    padding: 0.9vw 1.5vw;
    background-color: #4C1C86;
    white-space: nowrap;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    border: solid 0.01vw transparent;
    border-radius: 4px;
    color: #FFFF;
  }
  .home-section-button:hover{
    transition: ease-in 0.21s;
    border-radius: 4px;
    color: #4C1C86;
    background-color: white;
  }
  .home-section-button-container{
    text-align: center;
    margin-top: 2vw;
  }
  /* End of Home Section */
  /* Start of About Section */
  .about-section{
    margin-top: 3vw;
    width: 100%;
  }
  .about-section-first-paragraph{
    position: relative;
    margin-top: 10vw;
    width: 40%;
    margin-left: 12%;
  }
  .about-section-first-paragraph-title{
    text-align: center;
  }
  .about-section-first-paragraph-text{
    text-align: center;
    margin-top: 2vw;
  }
  .about-section-second-paragraph{
    position: relative;
    margin-top: 2vw;
    width: 40%;
    margin-left: 50%;
  }
  .about-section-second-paragraph-title{
    text-align: center;
  }
  .about-section-second-paragraph-text{
    text-align: center;
  }
  .about-section-third-paragraph{
    position: relative;
    margin-top: 2vw;
    width: 40%;
    margin-left: 12%;
  }
  .about-section-desciption-containers{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 9vw;
  }
 
  .about-section-description-container-logo{
    width: 30%;
  }
  .about-section-desciption-container-first{
    width: 80%;
  }
  .about-section-desciption-container-first-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-first-text{
    width: 90%;
    margin-top: 1vw;
  }
  .about-section-desciption-container-second{
    width: 80%;
  }
  .about-section-desciption-container-second-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-second-text{
    width: 90%;
    margin-top: 1vw;
  }
  .about-section-desciption-container-third{
    width: 80%;
  }
  .about-section-desciption-container-third-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-third-text{
    width: 90%;
    margin-top: 1vw;
  }
  .about-section-desciption-container-fourth{
    width: 80%;
  }
  .about-section-desciption-container-third-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-fourth-text{
    width: 90%;
    margin-top: 1vw;
  }
  .repairs-and-services-section{
    margin-top: 8vw;
  }
  .repairs-and-services-about-section{
    width: 60%;
    margin: auto;
    margin-top: 3vw;
    text-align: center;
  }
  .repairs-and-services-about-section-paragraph{
    margin-top: 1vw;
  }
  .repairs-and-services-repair-containers{
    width: 100%;
    margin-top: 10vw;
  }
  .repairs-and-services-repair-containers-part-1{
    margin-left: 0px;
    display: flex;
    text-align: center;
    width: 95%;
    margin: auto;
  }
  .repairs-and-services-repair-containers-part-2{
    margin-left: 0px;
    margin-top: 2vw;
    width: 95%;
    margin: auto;
    display: flex;
    text-align: center;
  }
  .repairs-and-services-repair-containers-logo{
    width: 50%;
  }
  .repairs-and-services-repair-paragraph{
    text-align: center;
    margin-top: 2vw;
    width: 90%;
  }
  .repairs-and-services-repair-undertitle{
    text-align: center;
  }
  .repairs-and-services-repair-container-first{
    width: 80%;
  }
  .repairs-and-services-repair-container-second{
    width: 80%;
  }
  .repairs-and-services-repair-container-third{
    width: 80%;
  }
  .repairs-and-services-repair-container-fourth{
    width: 80%;
  }
  .repairs-and-services-repair-container-fifth{
    width: 80%;
  }
  .repairs-and-services-repair-container-sixth{
    width: 80%;
  }
  .repairs-and-services-repair-container-seventh{
    width: 80%;
  }
  .repairs-and-services-repair-container-eighth{
    width: 80%;
  }

  footer{
    width: 100%;
    background-color: lightgray;
  }
  .footer-contact-details-section-image{
    height: 15vw;
    width: auto;
  }
  .footer-contact-details-section-header{
    font-size: 2.5vw;
  }
  .footer-contact-details-section-paragraph-list{
    list-style: none;
    margin-top: 5vw;
    font-size: 2vw;
  }
  .footer-contact-details-section-paragraph-list-subject{
    margin-left: 8vw;
  }
  .footer-follow-section-header{
    margin-top: 10vw;
    font-size: 2.5vw;
  }
  .footer-follow-section-paragraph{
    position: relative;
    margin-top: 5vw;
  }
  .footer-follow-section-paragraph-subject-image{
    height: 10vw;
    width: auto;
    margin: auto;
    margin-left: 5vw;
  }
  .footer-navigate-section{
    margin-top: 5vw;
    min-height: 80vw;
  }
  .footer-navigate-section-header{
    font-size: 2.5vw;
  }
  .footer-navigate-section-paragraph-list{
    list-style: none;
  }
  .footer-navigate-section-paragraph-subject{
    margin-top: 2vw;
  }
  .footer-navigate-section-paragraph-subject a{
    text-decoration: none;
    font-size: 3vw;
    margin-left: 5vw;
    font-size: 2vw;
  }
  .trustpilot-widget{
    position: relative;
    align-items: baseline;
  }
}

@media (min-width: 1025px) {
  .top-navbar-mobile{
    display: none;
  }
  .top-logo-mobile-navbar{
    display: none;
  }
  .navbar-mobile{
    display: none;
  }
  #navbar-logo-mobile{
    display: none;
  }
  .top-navbar-mobile a{
    display: none;
  }
  .top-navbar-mobile a.icon {
    display: none;
  }
  .top-logo-mobile-navbar{
    display: none;
  }
  .top-navbar-mobile:hover{
    display: none;
  }
  #navbar-links-mobile{
    display: none;  
  }
  .active {
    display: none;
  }
  

  /* Standard CSS With no @media */
  .page-container{
    position: relative;
    min-height: 100vh;
  }
  .wrapper{
    padding-bottom: 2.5rem;
  }
  .navigation-bar{
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    background-color: lightgray;
  }
  .navigation-bar-list-image{
    height: auto;
    width: 165px;
  }
  .navigation-bar-list{
    list-style: none;
    display: flex;
    align-items: center;
    width: 90%;
  }
  .navigation-bar-list li{
    text-align: center;
  }
  .navigation-bar-list li a{
    text-decoration: none;
    font-size: 19px;
    text-align: center;
  }
  .navigation-bar-list span li a{
    text-align: left;
  }
  .navigation-bar-list span li a:hover{
    text-align: left;
  }
  .navigation-bar-list li a:hover{
    transition: 0.265s ease-in-out;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    color: #4C1C86;
  }
  
  /* End of Navigation Bar */
  /* Start of Home Section */
  .home-section{
    position: relative;
    height: 70vh;
    animation: animate 30s ease-in-out infinite;
    background-size: cover;

  }
  .home-section-background{
    position: absolute;
    padding: 20vh;
  }
  .home-section-title{
    position: relative;
    color: white;
    text-align: center;
    height: 100%;
    margin: auto;
    width: 60%;
    text-overflow: wrap;
    text-shadow: 4px 3px #4C1C86;
    font-size: 3vw;
  }
  .home-section-button-box{
    list-style: none;
  }
  .home-section-button{
    padding: 0.9vw 1.5vw;
    background-color: #4C1C86;
    white-space: nowrap;
    font-size: 0.85vw;
    text-align: center;
    text-decoration: none;
    border: solid 0.01vw transparent;
    border-radius: 4px;
    color: #FFFF;
  }
  .home-section-button:hover{
    transition: ease-in 0.21s;
    border-radius: 4px;
    color: #4C1C86;
    background-color: white;
  }
  .home-section-button-container{
    text-align: center;
    margin-top: 2vw;
  }
  
    @keyframes animate{
    0%, 100% {
        background-image: url("/laptop-repair-pictures/webp-pictures/Family-Laptop-Repair.webp");
    }
    25% {
        background-image: url("/laptop-repair-pictures/webp-pictures/Gaming-Laptop-Repair.webp");
    }
    50% {
        background-image: url("/laptop-repair-pictures/webp-pictures/Motherboard-Repair.webp");
    }
    75% {
        background-image: url("/laptop-repair-pictures/webp-pictures/Laptop-Office-Repair.webp");
    }
}
/* End of Home Section */
/* Start of About Section */
  .about-section{
    position: relative;
    margin-bottom: 10vw;
    margin-top: 50px;
  }
  #about-section-title{
    position: relative;
    font-size: 34px;
  }
  .about-section-first-paragraph{
    position: relative;
    margin-top: 10vw;
    width: 31%;
    margin-left: 12%;
  }
  .about-section-first-paragraph-title{
    text-align: center;
    font-size: 29px;
  }
  .about-section-first-paragraph-text{
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
  }
  .about-section-second-paragraph{
    position: relative;
    margin-top: 20px;
    width: 32%;
    margin-left: 55%;
  }
  .about-section-second-paragraph-title{
    text-align: center;
    font-size: 29px;
  }
  .about-section-second-paragraph-text{
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
  }
  .about-section-third-paragraph{
    position: relative;
    margin-top: 30px;
    width: 32%;
    margin-left: 12%;
  }
  .about-section-third-paragraph-title{
    text-align: center;
    font-size: 29px;
  }
  .about-section-third-paragraph-text{
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
  }
  .about-section-desciption-containers{
    position: relative;
    margin-top: 12vw;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .about-section-description-container-logo{
    width: auto;
    height: 100px;
    display: flex;
    margin: auto;
    
  }
  .about-section-desciption-container-first{
    position: relative;
    width: 25%;
  }
  .about-section-desciption-container-first-undertitle{
    text-align: center;
    
  }
  .about-section-desciption-container-first-text{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
  }

  .about-section-desciption-container-second{
    position: relative;
    width: 25%;
  }
  .about-section-desciption-container-second-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-second-text{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
  }

  .about-section-desciption-container-third{
    position: relative;
    width: 25%;
  }
  .about-section-desciption-container-third-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-third-text{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
  }

  .about-section-desciption-container-fourth{
    position: relative;
    width: 25%;
  }
  .about-section-desciption-container-fourth-undertitle{
    text-align: center;
  }
  .about-section-desciption-container-fourth-text{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
  }

  /* End of About Section */
  /* Start of Repairs and Services Section */
  .repairs-and-services-section{
    position: relative;
    height: 125vh;
    width: 100%;
  }
  #repairs-and-services-section-title{
    font-size: 34px;
  }
  .repairs-and-services-about-section{
    width: 30%;
    margin: auto;
  }
  .repairs-and-services-about-section-undertitle{
    text-align: center;
    margin-top: 50px;
  }
  .repairs-and-services-about-section-paragraph{
    text-align: center;
    margin-top: 1vw;
  }
  .repairs-and-services-repair-containers-part-1{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 0vw;
  }
  .repairs-and-services-repair-containers-part-2{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 0vw;
  }
  .repairs-and-services-repair-containers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin-top: 8vw;
  }
  .repairs-and-services-repair-containers-logo{
    width: auto;
    margin: auto;
    height: 100px;
    display: flex;
  }
  .repairs-and-services-repair-container-first{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-second{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-third{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-fourth{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-fifth{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-sixth{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-seventh{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-container-eighth{
    width: 25%;
    text-align: center;
  }
  .repairs-and-services-repair-undertitle{
    font-size: 20px;
  }
  .repairs-and-services-repair-paragraph{
    width: 75%;
    margin: auto;
    text-align: center;
  }
  .footer-section{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #C0C0C0;
    height: 100%;
    margin-top: 10vw;
  }
  .footer-main-sections{
    width: 100%;
    height: 50vh;
    display: flex;
  }
  .footer-contact-details-section{
    height: 100%;
    margin-left: 50px;
  }
  .footer-contact-details-section-image{
    width: 110px;
    height: auto;
    margin-left: 70px;
    margin-top: 5%;
  }
  .footer-contact-details-section-header{
    position: relative;
    text-align: left;
    left: 7%;
    margin-top: 15px;
    font-size: 20px;
  }
  .footer-contact-details-section-paragraph{
    margin-top: 15px;
  }
  .footer-contact-details-section-paragraph-list{
    list-style: none;
    margin-left: 10px;
    font-size: 18px
  }
  .footer-contact-details-section-paragraph-list-subject{
    margin-left: 70px;
    font-size: 18px;
  }
  .footer-follow-section{
    margin-top: 80px;
  }
  .footer-follow-section-header{
    font-size: 20px;
  }
  .footer-follow-section-paragraph{
    position: relative;
    margin-top: 25px;
  }
  
  .footer-follow-section-paragraph a img{
    width: auto;
    height: 3vw;
  }
  .footer-follow-section-paragraph-list{
    display: flex;
  }
  .footer-follow-section-paragraph-subject-image{
    width: auto;
    height: 50px;
  }
  .trustpilot-container{
    position: absolute;
    bottom: 0px;
    width: auto;
  }
  .trustpilot-widget{
    position: absolute;
    margin-bottom: 0px;
  }
  .footer-navigate-section{
    margin-top: 80px;
  }
  .footer-navigate-section-header{
    font-size: 20px;
  }
  .footer-navigate-section-paragraph{
    margin-top: 15px;
  }
  .footer-navigate-section-paragraph-list{
    list-style: none;
    margin-left: 30px;
    width: auto;
  }
  .footer-navigate-section-paragraph-subject{
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;    
    justify-content: space-between;
  }
  .footer-navigate-section-paragraph-subject a{
    text-decoration: none;
  }
  .footer-navigate-section-paragraph-subject a:hover{
    color: #4C1C86;
    transition: .35s;
  }
}

      
